.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  background: linear-gradient(45deg, rgba(247, 53, 84, 0.5) 0%, rgba(247, 53, 84, 0.5) 12.5%,rgba(239, 79, 73, 0.5) 12.5%, rgba(239, 79, 73, 0.5) 25%,rgba(231, 105, 63, 0.5) 25%, rgba(231, 105, 63, 0.5) 37.5%,rgba(223, 131, 52, 0.5) 37.5%, rgba(223, 131, 52, 0.5) 50%,rgba(215, 158, 42, 0.5) 50%, rgba(215, 158, 42, 0.5) 62.5%,rgba(207, 184, 31, 0.5) 62.5%, rgba(207, 184, 31, 0.5) 75%,rgba(199, 210, 21, 0.5) 75%, rgba(199, 210, 21, 0.5) 87.5%,rgba(191, 236, 10, 0.5) 87.5%, rgba(191, 236, 10, 0.5) 100%),linear-gradient(135deg, rgb(161, 190, 135) 0%, rgb(161, 190, 135) 12.5%,rgb(166, 174, 126) 12.5%, rgb(166, 174, 126) 25%,rgb(171, 158, 117) 25%, rgb(171, 158, 117) 37.5%,rgb(176, 142, 108) 37.5%, rgb(176, 142, 108) 50%,rgb(181, 126, 99) 50%, rgb(181, 126, 99) 62.5%,rgb(186, 110, 90) 62.5%, rgb(186, 110, 90) 75%,rgb(191, 94, 81) 75%, rgb(191, 94, 81) 87.5%,rgb(196, 78, 72) 87.5%, rgb(196, 78, 72) 100%);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.binaryButton {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(218, 218, 218);
  border: 1px solid #9b9b9b;
  border-radius: 8px;
  margin: 0 10px !important;
}
.binaryButton span {
  margin: auto;
  font-size: 24px;
}

.displayCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  margin-top: 25px;
  flex-direction: row;
}

.decimal {
  position: absolute;
  top: -17px;
  right: -17px;
  width: 34px;
  height: 34px;
  margin-bottom: 16px;
  font-size: 30px;
  background-color: white;
  border: 1px solid #9b9b9b;
  color: rgba(0,0,0,0.3);
  border-radius: 100%;
}